In [3]:
import numpy as np
import scipy.stats as stats
import pandas as pd

**Problem Statement 1:**

**Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:**

![Stats4_Assignment1.PNG]()

**Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the
gender of an individual and the level of education that they have obtained?**

H0 : Gender and Education Level are dependent.

H1 : Gender and Education Level are independent.

In [5]:
table = np.array([60,54,46,41,40,44,53,57]).reshape(2,4)
stats.chi2_contingency(table)

(8.006066246262538,
 0.045886500891747214,
 3,
 array([[50.88607595, 49.86835443, 50.37721519, 49.86835443],
        [49.11392405, 48.13164557, 48.62278481, 48.13164557]]))

**As the P-value < 0.05 we reject the null hypothesis and accept the alternate hypothesis i.e. Gender and Education Level are independent.**

---------------

**Problem Statement 2:**

**Using the following data, perform a oneway analysis of variance using α=.05. Write
up the results in APA format.**

**[Group1: 51, 45, 33, 45, 67]**

**[Group2: 23, 43, 23, 43, 45]**

**[Group3: 56, 76, 74, 87, 56]**

H0 : All the groups have same variance.

H1 : Any two of the groups have different variance.

In [6]:
group1 = [51, 45, 33, 45, 67]
group2 = [23, 43, 23, 43, 45]
group3 = [56, 76, 74, 87, 56]
stats.f_oneway(group1,group2,group3)

F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)

**As the P-value < 0.05 , we reject the null hypothesis and accept the alternate hypothesis i.e. any two of the groups have different variance.**

------------------

**Problem Statement 3:**

**Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50:**

In [10]:
Group1 = [10, 20, 30, 40, 50]
Group2 = [5,10,15, 20, 25]
mean_1 = np.mean(Group1)
mean_2 = np.mean(Group2)
grp1_sub_mean1 = []
grp2_sub_mean2 = []
add1 = 0
add2 = 0
for items in Group1:
  add1 += (items - mean_1)**2
for items in Group2:
  add2 += (items - mean_2)**2
var1 = add1/(len(Group1)-1)
var2 = add2/(len(Group2)-1)

F_Test = var1/var2
print("F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : ",F_Test)

F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is :  4.0